http://bestiar.drdplus.loc {
    root /var/www/bestiar
    import CaddyfileLocalPhpProject
}

http://bestiar.ppj.drdplus.loc {
    root /var/www/bestiar.ppj
    import CaddyfileLocalPhpProject
}

http://boj.drdplus.loc {
    root /var/www/boj
    import CaddyfileLocalPhpProject
}

http://bojovnik.drdplus.loc {
    root /var/www/bojovnik
    import CaddyfileLocalPhpProject
}

http://carodej.drdplus.loc {
    root /var/www/carodej
    import CaddyfileLocalPhpProject
}

http://demon.theurg.drdplus.loc {
    root /var/www/demon.theurg
    import CaddyfileLocalPhpProject
}

http://dobrodruzstvi.ppj.drdplus.loc {
    root /var/www/dobrodruzstvi.ppj
    import CaddyfileLocalPhpProject
}

http://format.drdplus.drdplus.loc {
    root /var/www/format
    import CaddyfileLocalPhpProject
}

http://formule.theurg.drdplus.loc {
    root /var/www/formule.theurg
    import CaddyfileLocalPhpProject
}

http://hranicar.drdplus.loc {
    root /var/www/hranicar
    import CaddyfileLocalPhpProject
}

http://drdplus.loc {
    redir http://www.drdplus.loc
}

http://www.drdplus.loc {
    root /var/www/index
    import CaddyfileLocalPhpProject
}

http://inkubator.drdplus.loc {
    root /var/www/inkubator
    import CaddyfileLocalPhpProject
}

http://kalkulator.skeleton.drdplus.loc {
    root /var/www/kalkulator.skeleton
    import CaddyfileLocalPhpProject
}

http://rules.skeleton.loc {
    redir http://rules.skeleton.drdplus.loc
}

http://rules.skeleton.drdplus.loc {
    root /var/www/rules.skeleton
    import CaddyfileLocalPhpProject
}

http://knez.drdplus.loc {
    root /var/www/knez
    import CaddyfileLocalPhpProject
}

http://niceni.drdplus.loc {
    root /var/www/niceni
    import CaddyfileLocalPhpProject
}

http://pad.drdplus.loc {
    root /var/www/pad
    import CaddyfileLocalPhpProject
}

http://pph.drdplus.loc {
    root /var/www/pph
    import CaddyfileLocalPhpProject
}

http://ppj.drdplus.loc {
    root /var/www/ppj
    import CaddyfileLocalPhpProject
}

http://pribeh.drdplus.loc {
    root /var/www/pribeh
    import CaddyfileLocalPhpProject
}

http://pribeh.bestiar.drdplus.loc {
    root /var/www/pribeh.bestiar
    import CaddyfileLocalPhpProject
}

http://theurg.drdplus.loc {
    root /var/www/theurg
    import CaddyfileLocalPhpProject
}

http://utok.skeleton.drdplus.loc {
    root /var/www/utok.skeleton
    import CaddyfileLocalPhpProject
}

http://zlodej.drdplus.loc {
    root /var/www/zlodej
    import CaddyfileLocalPhpProject
}

http://blog.drdplus.loc {
    root /var/www/blog/output
    import CaddyfileLocalPhpProject
    errors {
        404 404.html
    }
}

http://update.blog.drdplus.loc {
    root /var/www/blog
    import CaddyfileLocalPhpProject
}

http://mdwiki.blog.drdplus.loc {
    root /var/www/mdwiki.blog
    import CaddyfileLocalPhpProject
}
